*{
margin:0px;
padding:0px;
-webkit-box-sizing:border-box;
-moz-box-sizing:border-box;
box-sizing:border-box;
}

div#central{
margin:auto;
margin-top:50px;
margin-bottom: 50px;
padding:20px;
width:1000px;
height:2000px;
background-color:#F4DF23;
}

div#datos{
margin-left: 35px;
float:left;
width:355px;
height:450px;
background-color:#F4DF23;
}

div#imagen{
float:right;
width:305px;
height:450px;
background-color:#F4DF23;
}

div#inferior{
margin:auto;
margin-top:500px;
width:900px;
height:200px;
background-color:#F4DF23;}
